* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.color-grey {
    color: #878787;
}

.color-red {
    color: #ec0101;
}

.color-black {
    color: #000;
}

header .header-top {
    padding: 10px 15px;
    font-size: 12px;
    background-color: #F6F6F8;
}

.header-top .ht-middle p {
    margin: 0;
}

.header-top .ht-middle a:hover {
    color: #000;
    text-decoration: underline;
}

.header-top .ht-right select {
    outline: none;
    border: none;
    background: transparent;
}

header .header-bottom .hb-left img {
    width: 100px;
}

header .header-bottom {
    padding: 15px;
}

header .header-bottom .hb-middle nav ul {
    list-style: none;
}

header .header-bottom .hb-middle nav ul li {
    position: relative;
}

header .header-bottom .hb-middle nav ul li .menu-label {
    position: absolute;
    color: #fff;
    font-size: 9px;
    padding: 1px 7px;
    border-radius: 50px;
    top: 40%;
    line-height: 16px;
    transform: translateY(-50%);
    right: -10px;
    margin-top: -14px;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

header .header-bottom .hb-middle nav ul li .menu-label-bgcolor-blue {
    background-color: #01BAD4;
}

header .header-bottom .hb-middle nav ul li .menu-label-bgcolor-orange {
    background-color: #FFA800;
}

header .header-bottom .hb-middle nav ul li .menu-label-bgcolor-red {
    background-color: #FF0000;
}

header .header-bottom .hb-middle nav ul li a,
.hb-right a {
    font-size: 1rem;
    color: #222;
    padding: 0.5rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

header .header-bottom .hb-middle nav ul li a:hover,
.hb-right a:hover {
    color: #56cfe1;
}

#slider {
    width: 100%;
    height: 80vh;
    background-image: url(../images/background/slideshow_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #02010133;
    z-index: -1;
}

.slider .slider-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider .slider-title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4em;
}

.slider p {
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;
}

.slider a {
    color: #fff;
    border-color: #fff;
    border: 2px solid #fff;
    background-color: #56cfe100;
    line-height: 36px;
    box-shadow: 0;
    border-radius: 30px;
    min-width: 150px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
}

#banner {
    margin: 0 1rem;
}

#banner .banner .single-banner {
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}

.banner .single-banner .banner-name {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.banner .single-banner .b-text-bottomleft {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 1;
}

.banner .single-banner .b-text-bottomleft p {
    color: #222;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.banner .single-banner .b-text-bottomleft h4 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 35px;
    color: #222;
}

.banner .single-banner .b-text-bottomleft span {
    color: #878787;
    font-size: 14px;
}

.banner .single-banner .b-text-cc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.banner .single-banner .b-text-cc p {
    font-size: 18px;
    color: #222;
    letter-spacing: 1px;
    font-weight: 500;
}

.banner .single-banner .b-text-cc h4 {
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222;
}

.banner .single-banner .b-text-cc a {
    display: inline-block;
    line-height: 36px;
    border: 2px solid;
    box-shadow: 0;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    padding: 0 20px;
    min-width: 150px;
    border-radius: 30px;
    transition: all .3s;
}

.banner .single-banner .b-text-cc a:hover {
    border-color: #56CFE1;
    background-color: #56CFE1;
    color: #fff;
}

.banner .single-banner .banner-name a {
    font-size: 14px;
    background: #fff;
    color: #222;
    padding: 0 20px;
    box-shadow: 1px 1px 0 0 rgb(0 0 0 / 10%);
    min-width: 150px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    display: inline-block;
    transition: opacity .3s;
}

.banner .single-banner .banner-name a:hover {
    opacity: .8;
}

.banner .single-banner img {
    transition: transform .9s;
    z-index: -1;
}

.banner .scale-effect:hover img {
    transform: scale(1.1);
}

.banner .single-banner:hover .b-text-bc .product-info {
    opacity: 1;
}

.banner .single-banner .b-text-bc {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .single-banner .b-text-bc .product-info {
    padding: 10px 10px 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: opacity .3s;
}

.banner .single-banner .b-text-bc .product-info:hover{
    opacity: 1;
}

.banner .single-banner .b-text-bc .product-info h3 a {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.banner .single-banner .b-text-bc .product-info .product-price {
    color: rgba(255, 255, 255, .7);
}

.banner .single-banner .b-text-bc .product-info .switch-color {
    margin: 0 -5px;
}

.single-banner .b-text-bc .product-info .switch-color .product-color {
    margin: 1px;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

.single-banner .b-text-bc .product-info .switch-color .c-000 {
    background-color: #000;
}

.single-banner .b-text-bc .product-info .switch-color .c-ffc0cb {
    background-color: #FFC0CB;
}

.single-banner .b-text-bc .product-info .rating {
    font-size: 12px;
}

.single-banner .b-text-bc .product-info .rating i {
    color: #FDBC00;
}

.single-banner .b-text-bc .product-info .rating span {
    color: #fff;
}

.single-banner .b-text-bc .product-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 12px;
    top: 12px;
}